@model MedicalWeb.Models.InvoiceClass

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>InvoiceClass</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pharmName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pharmName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.medicalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.medicalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantiti)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantiti)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
