@model MedicalWeb.Models.Medical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Medical</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantiti)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantiti)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MediaThwmbnail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MediaThwmbnail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
